<app-top-bar></app-top-bar>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- Sourced from https://angular.io/guide/router -->
<nav>
  <ul>
    <li><a routerLink="/calculator-component" routerLinkActive="active">Calculator Component</a></li>
    <li><a routerLink="/sample-component" routerLinkActive="active">Sample Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<div class = "container">
  <router-outlet></router-outlet>
</div>